
  <div class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Classess List</h3>
          <div class="card-tools">
            <a href="addClasse" class="btn btn-sm bg-teal" style="margin: 5px;">
              <i class="fas fa-plus"></i> Add
            </a>
          </div>
        </div>
        <div class="card-body table-responsive p-0">
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Niveau</th>
                <th scope="col">Branche</th>
                <th scope="col">Numero</th>
                <th scope="col">Name</th>
                <th scope="col">Nb Etudiants</th>
                <th scope="col">Scholar year</th>
              </tr>
            </thead>
            <tbody>
              <tr
              *ngFor="
                let classe of classes
                  | paginate
                    : {
                        itemsPerPage: 4,
                        currentPage: page,
                        totalItems: count
                      };
                let i = index
              " 
                [class.active]="i == currentIndex" (click)="setActiveClasse(classe, i)">
                <td>{{ classe.niveau }}</td>
                <td> {{ classe.branche }}</td>
                <td>{{ classe.numero }}</td>
                <td>{{ classe.name }}</td>
                <td>{{ classe.nbEtudiant }}</td>
                <td>{{ classe.year }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          (pageChange)="onTableDataChange($event)"
        >
        </pagination-controls>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <app-classe-details [viewMode]="true" [currentClasse]="currentClasse"></app-classe-details>
    </div>
  </div>